.modal-header.text-justify.d-xl-flex {
}

.portfolio-navbar.navbar {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right,#EF629F,    #EECDA3);
  background-color: rgba(0, 0, 0, 0);
}
.gradient {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
}
.special-skill-item .icon {
    background-color: #EF629F;
}
.modal-image {
    margin-bottom: 20px;
}
.modal-footer{
  display:none;
}
.gallery{
  display:inline-block;
  column-gap:20px;
}
.itemContainer{
  display:inline-block;
  width:100%;
}
    
@media only screen and (min-width: 320px) {  
  .gallery {
    columns: 1;
  }
}
@media only screen and (min-width: 768px) {  
  .gallery {
    columns: 2;
  }
}
@media only screen and  (min-width: 1024px) {  
  .gallery {
    columns: 3;
  }
}
 
.portfolio-block.projects-cards h6 {
    position: absolute;
    padding: 10px;
    background:     rgba(0,0,0,0.5);
}
.portfolio-block.projects-cards h6 a{
  color:#fff;
}
