.modal-header.text-justify.d-xl-flex {
}
.portfolio-block.block-intro p{
  background:rgba(255, 255, 255, 0.49);
  padding: 10px;
}
.portfolio-block.block-intro .avatar {
 
    background-position: -2px 2px;
}
.portfolio-navbar.navbar {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right,#EF629F, #EECDA3);
  background-color: rgba(0, 0, 0, 0);
}
.gradient {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
}
.special-skill-item .icon {
    background-color: #EF629F;
}
.modal-image {
    margin-bottom: 20px;
}
.modal-footer{
  display:none;
}
.gallery{
  display:inline-block;
  column-gap:0px;
}
.itemContainer{
  /*! display:inline-block; */
  width:100%;
  min-height: 100px;
}
.portfolio-block.projects-cards .card{
 margin:0; 
 background: none;
}
.portfolio-block.cv .group .organization a {
    color: #fff;
}
.portfolio-block.block-intro{
/*   background: url("https://raw.githubusercontent.com/kousigan/portfolio/master/assets/img/pfbg.png") 0 bottom / auto 650px no-repeat; */
  padding-left: 50%;
  text-align: left;
  padding-top: 200px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 320px) {  
  .gallery {
    columns: 1;
  }
.portfolio-block.block-intro{
    background-size: auto 500px;
   padding-left: 50%;
  text-align: left;
  padding-top: 100px;
}
}
@media only screen and (min-width: 768px) {  
  .gallery {
    columns: 2;
  }
}
@media only screen and  (min-width: 1024px) {  
  .gallery {
/*     columns: 3; */
  }
.portfolio-block.block-intro{
    background-size: auto 650px;
    background-size: cover;
    background-position: 0 center;
  }
}
 
.portfolio-block.projects-cards h6 {
    position: absolute;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    display: inline-block;
    font-weight: 400;
}
.portfolio-block.projects-cards h6 a{
  /*! color:#fff; */
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(teal));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}
 
