@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header-section {
  margin-left: 50px;
}

#header-main {
  /*! align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.logo {
  margin: 0 0 50px 0;
  width: 50px;
}

.mainhead {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 130px;
  letter-spacing: -5px;
  font-weight: bold;
  color: #C3DBDC;
  text-transform: uppercase;
}



.subhead {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(146,146,146,0.52);
  font-size: 30px;
  text-transform: uppercase;
}

body {
  font-family: Roboto;
}

.sectionHeader {
  position: relative;
  margin: 100px 0 50px;
}

.sectionHeader .mainhead {
  opacity: 0.5;
  text-align: center;
}

.sectionHeader .subhead {
  position: absolute;
  bottom: 17px;
  text-align: center;
  width: 100%;
}
@media (max-width: 766px) {
  .mainhead {
    font-size: 7em
  }
 
} 
@media (max-width: 540px) {
  .mainhead {
    font-size: 5em
  }
  .sectionHeader .subhead{
    bottom: 0;
  }
} 
section {
  text-align: center;
  min-height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 
.contactContainer {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    max-width: 1200px;
  margin: 0 auto;
}

.social p a{
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

@media screen and (max-width:800px){
  .contactContainer{
    grid-template-columns: 1fr;
  }
  .social div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.identity {
  width: 94%;
  height: 335px;
  object-fit: contain;
  align-self: center;
}

.card {
  width: 100%;
  margin: 0 0 10px;
  display:inline-block;
  /*flex-direction: row;*/
}

.card-body img {
  width: 100%;
  /*height: 250px;*/
  object-fit: cover;
}

.card-body .preloader {
  width: auto;
  height: 200px;
  display: block;
  background: url('../../inkloader.svg') no-repeat center;
  background-size: 150px;
  margin: 50px;
}

.card-body {
  padding: 0;
}

.card-title {
  text-align: left;
  padding: 15px;
  margin: 0;
}

.card-title a {
  float: right;
}

.gallery {
  /*display: grid;*/
  /*grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );*/
  align-self: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px 0;
  grid-gap: 10px;
  grid-auto-rows: 0;
  column-count: 3;
}

.resume {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(400px,1fr) );
  align-self: center;
  width: 100%;
  max-width: 1200px; 
  margin: 50px 0;
  grid-gap: 10px;
}

.details {
  text-align: left;
  margin: 0 10px;
}

.details .subhead {
  margin: 40px 0 20px;
}

.timeline {
  padding-left: 50px;
  position: relative;
}

.btn-primary:not(:disabled):not(.disabled).download:active, .btn.download {
  margin-top: 20px;
  float: right;
  background-color: #D33178;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.btn.download i {
  padding: 0 0 0 10px;
  position: relative;
  top: 3px;
}

.timeline i {
  text-indent: -61px;
  text-align: center;
}

.timeline:before {
  content: "";
  width: 1pt;
  height: auto;
  display: block;
  position: absolute;
  background: #d33178;
  left: 19px;
  top: 21px;
  bottom: 0;
}

.col-md-4.landingbg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.col-md-4.landingbg {
  padding: 0;
}

.container-fluid.landingPage {
  background-size: 500px;
  background: url(../../assets/img/Group022.svg) no-repeat bottom right;
}

.form-group {
  overflow: hidden;
}

#sampleFiles {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.form-group label.uploadTitle {
  display: block;
}

.files {
  padding: 2px 6px;
  background-color: #efefef;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 3px;
  text-transform: initial;
}

.uploadIcon i {
  font-size: 20px;
  padding: 0 0 0 10px;
}

.uploadIcon {
  padding: .5rem 1rem;
  background: #ededed;
  color: #d33178;
  border-radius: 4px;
  /*! display: block; */
}
.fileList{
  display: block;
  margin-bottom: 0;
}
.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

@media (max-width:766px) {
  .landingbg {
    display: none;
  }
} 

@media (max-width:766px) {
  .header-section {
    margin-left: 0;
  }
}

.navbar.navbar-light.navbar-expand-md {
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  border-bottom: 1px solid #ededed;
  top: 0;
  z-index: 1;
}

.navbar-light .navbar-brand img {
  width: 50px;
}

html {
  scroll-behavior: smooth;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: rgb(211,49,120);
}

aside {
  position: fixed;
  right: 50px;
  height: 100%;
  display: grid;
  align-content: center;
  z-index: 2;
}

aside ul li{
  list-style: none;
}
aside ul li a{
  text-decoration: none !important;
  color: #333;
  text-align: center;
  width: 20px;
  display: inline-block;
}
aside ul li.medium a:before{
  font-size: 12px;
  opacity: 0.7; 
}
aside ul li a:before{
  font-family: lineicons;
  font-size: 8px;
  content:"\ea60";
  opacity: 0.5;
  transition: all 0.2s ease-in;
}
aside ul li a.active:before{
    content:"\ea59";
    font-size: 14px;
    opacity: 1;
}

@media (max-width: 992px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .gallery {
    column-count: 1;
  }
  aside{
    display: none;
  }
}

